@tailwind base;
@tailwind components;
@tailwind utilities;

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #c0ccca;
  font-family: 'Raleway';
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url('/fonts/static/Raleway-Regular.ttf') format(truetype);
}
